<%= javascript_include_tag 'exportcsv.js', :plugin => 'redmine_project_custom_tabs' %>
<%= javascript_include_tag 'custom.js', :plugin => 'redmine_project_custom_tabs' %>
<div id="content_model">
</div>