#admin-menu a.custom-tabs { 
	background-image: url(../images/tabs.png); 
}

.border_left{
	border-left: 1px solid black !important;	
}

.border_right{
	border-right: 1px solid black !important;	
}

.border_bottom{
	border-bottom: 1px solid black !important;	
}

.left_align{
	text-align: left !important;	
}

.center_align{
	text-align: center !important;	
}

.one_tab{
	padding-left:50px !important;
}
s
.two_tab{
	padding-left:100px;
}

.three_tab{
	padding-left:150px;
}