#admin-menu a.custom-tabs { 
	background-image: url(../images/tabs.png); 
}

.left_align{
	text-align: left !important;	
}

.one_tab{
	padding-left:50px !important;
}

.two_tab{
	padding-left:100px;
}

.three_tab{
	padding-left:150px;
}